/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
    -fx-font-size: 11px;
    -fx-font-family: sans-serif;
	-fx-background-color: #303030;

}

#metadataLabel {
	-fx-text-fill : WHITE;
}

#noticeLabel {
	-fx-text-fill : WHITE;
}

#f1, #f2, #f3, #f4 {
    -fx-background-color: #303030;
    -fx-text-fill: #303030;
}

#txtName {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
#txtName:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}